// Réecritures de balises

*{ margin: 0; padding: 0; border: 0 }

.container {
  width: 800px;
  height: 400px;
  position: relative;
  margin: 150px auto;
  -webkit-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-transform-origin: 50% 50%;
}

ul li {
	display: none;
	width: 100%;
	height: 100%;
	background: grey;
	position: absolute;
	text-align: center;
    left: 0;
    top: 0;
    /*border: 4px black solid;*/
}

ul li h2 {
	color: white;
	font-size: 20px;
	line-height: 200px;
	font-family: Trebuchet MS, Arial, Helvetica, sans serif;
    font-weight: normal;
    line-height: 100px;
}

li.front, li.back, li.left, li.right, li.bottom, li.top, li.vertical-flip {
    z-index: 1; 
    display: block;
}

li.front { -webkit-transform: rotateY( 0deg ) translateZ( 400px ); }
li.back { -webkit-transform: rotateY( 180deg ) translateZ( 400px ); }
li.left { -webkit-transform: rotateY( -90deg ) translateZ( 400px ); }
li.right { -webkit-transform: rotateY( 90deg ) translateZ( 400px ); }
li.top { -webkit-transform: rotateX( 90deg ) translateZ( 200px ); }
li.bottom{ -webkit-transform: rotateX( -90deg ) translateZ( 200px ); }
li.vertical-flip{ -webkit-transform: rotateY( 0deg ) translateZ( 200px ); }

#cube { -webkit-transform: rotateY( 0deg ); }
#cube.left { -webkit-transform: rotateY( 90deg ); -webkit-transition: -webkit-transform .5s; }
#cube.right { -webkit-transform: rotateY( -90deg ); -webkit-transition: -webkit-transform .5s; }
#cube.top { -webkit-transform: rotateX( -90deg ); -webkit-transition: -webkit-transform .5s; }
#cube.bottom { -webkit-transform: rotateX( 90deg ); -webkit-transition: -webkit-transform .5s; }
